@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rethink Sans";
    font-weight: 400;
    src: url("/public/fonts/RethinkSans-Regular.ttf") format("ttf");
  }

  @font-face {
    font-family: "Rethink Sans";
    font-weight: 500;
    src: url("/public/fonts/RethinkSans-Medium.ttf") format("ttf");
  }

  @font-face {
    font-family: "Rethink Sans";
    font-weight: 600;
    src: url("/public/fonts/RethinkSans-SemiBold.ttf") format("ttf");
  }

  @font-face {
    font-family: "Rethink Sans";
    font-weight: 700;
    src: url("/public/fonts/RethinkSans-Bold.ttf") format("ttf");
  }

  :root {
    --color-site: 0deg 0% 16%;
    --color-very-dark-maroon: 248deg 11% 27%;
    --color-very-light-maroon: 248deg 11% 85%;
    --color-ghost-light-maroon: 248deg 11% 42%;
    --color-light: 263deg 100% 98%;
  }
}

@layer components {
  .displayText {
    @apply uppercase font-medium text-[5.5rem] sm:text-[6.625rem] md:text-[8.25rem] lg:text-[9.75rem] 2xl:text-[11rem] leading-[4rem] sm:leading-[4.75rem] md:leading-[6rem] lg:leading-[7rem] 2xl:leading-[7.75rem] -tracking-[2.5px];
  }
}

@layer utilities {
  :is(#past-design, #projects) .description,
  section:not(#past-design, #projects) {
    width: 100%;
    max-width: 22.875rem;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 640px) {
    :is(#past-design, #projects) .description,
    section:not(#past-design, #projects) {
      max-width: 640px;
    }
  }
  @media screen and (min-width: 834px) {
    :is(#past-design, #projects) .description,
    section:not(#past-design, #projects) {
      max-width: 834px;
    }
  }
  @media screen and (min-width: 1024px) {
    :is(#past-design, #projects) .description,
    section:not(#past-design, #projects) {
      max-width: 1024px;
    }
  }
  @media screen and (min-width: 1440px) {
    :is(#past-design, #projects) .description,
    section:not(#past-design, #projects) {
      max-width: 1440px;
    }
  }
  @media screen and (min-width: 1728px) {
    :is(#past-design, #projects) .description,
    section:not(#past-design, #projects) {
      max-width: 1728px;
    }
  }
}
