@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rethink Sans";
    font-weight: 400;
    src: url("/public/fonts/RethinkSans-Regular.ttf") format("ttf");
  }

  @font-face {
    font-family: "Rethink Sans";
    font-weight: 500;
    src: url("/public/fonts/RethinkSans-Medium.ttf") format("ttf");
  }

  @font-face {
    font-family: "Rethink Sans";
    font-weight: 600;
    src: url("/public/fonts/RethinkSans-SemiBold.ttf") format("ttf");
  }

  @font-face {
    font-family: "Rethink Sans";
    font-weight: 700;
    src: url("/public/fonts/RethinkSans-Bold.ttf") format("ttf");
  }

  :root {
    --color-site: 0deg 0% 16%;
    --color-very-dark-maroon: 248deg 11% 27%;
    --color-very-light-maroon: 248deg 11% 85%;
    --color-ghost-light-maroon: 248deg 11% 42%;
    --color-light: 263deg 100% 98%;
  }
}

@layer components {
  .displayText {
    @apply uppercase font-bold text-[5.5rem] sm:text-[6.625rem] lg:text-[7.5rem] xl:text-[9.75rem] 4xl:text-[11rem] leading-[4rem] sm:leading-[4.75rem] lg:leading-[7rem] 4xl:leading-[7.75rem];
  }
}
